.game {
    height: 60%;

    img {
        filter: drop-shadow(0 0 8px rgba(33, 33, 33, 0.795));

    }

    .peon-container {
        position: relative;
        display: flex;
        justify-content: center;
        margin-block-end: 15px;

        .peon {
            height: 281px;
        }

        .feed-container {
            position: absolute;
            top: 30px;
            width: 230px;
            height: 180px;
            z-index: 10;
        }
    }


}