.score {
    position: absolute;
    top: 220px;
    right: 90px;
    font-size: 3.5rem;
    color: $main-clr;
    text-shadow: 2px 2px 1px black;
    font-family: curse;
    animation: fadeAndMove 1.2s forwards;


    @keyframes fadeAndMove {
        0% {
            opacity: 0;
            transform: translateY(20px);
        }

        50% {
            opacity: 1;
            transform: translateY(0);
        }

        100% {
            opacity: 0;
            transform: translateY(-20px);
        }
    }

}